.card-container {
    display: flex;

}
.title {
    margin: 20px;
}
.cocktail-card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 30vh;
}
.cocktail-card {
    margin: 20px;
    border-radius: 15px;
    border: 1px solid grey;
    width: fit-content;
    text-align: center;
}